
:root {
  --Explore-menu-card: #f8f3f3;
  --text-color: #5C5C5C;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --accent-color: #D0F0FD;
  --accent-color-dark: #005F8F;
  --padding-inline-section: 15px;
}




/* Navbar Section */

.main-nav {
  justify-content: space-between;
}
.logo{
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.logo p{
    font-size: 0.7rem;
  color: var(--text-color);
}
.nav-links ul {
  gap: 40px;
}
.present-nav{
  color: var(--accent-color-dark);
}
.search input{
    height: 40px;
    background-color: var(--accent-color);
    border: 0px;
    padding: 10px;
    font-size: 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search i{
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: var(--accent-color-dark);
    font-size: 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Navigation Section */

.navigation-section{
    background-color: var(--accent-color);
}
.navigation-section p{
    font-size: 0.9rem;
}
.navigation-container{
    gap: 20px;
    padding-block: 30px;
}

/* Menu Section */

.menu-container{
    align-items: flex-start;
    gap: 50px;
}
.menu-section-left{
    position: sticky;
    top: 0px;
}
.menu-list ul{
    font-weight: 900;
    align-items: flex-start;
    flex-direction: column;
}
.menu-li-name{
    width: 200px;
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid rgb(232, 228, 228);
}
.menu-li-name:hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}

.menu-section{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(224, 221, 221);
}

.menu-card{
    gap: 10px;
    flex-wrap: wrap;
}
.menu-item-card{
  width: 275px;
  height: 430px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--text-color);
  margin-block: 15px;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.menu-item-card:hover{
  border: 1px solid var(--accent-color-dark);
}
.card-container{
  padding-top: 10px;
  justify-content: center;
}

.card-background{
  height: 253px;
  width: 253px;
  border-radius: 4px;
  /* background-image: url(Image/Food-background/Background.webp);
  background-size: cover;*/
} 
.item-name-description{
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.item-name{
  gap: 5px;
  position: relative;
  left: 15px;
}
.item-description{
 text-align: left;
 padding-inline: var(--padding-inline-section);
}
.item-description p{
  color: var(--text-color);
}
.price-cart{
  gap: 50px;
}

